@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #16D5FF;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}

#facts {
    cursor: none;
}

#facts>.cursor {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    background: rgba(0, 0, 0, 0.38);
    display: none;
    /* opacity: 0.8; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.57);
    backdrop-filter: blur(0.6px);

}


/* emoji */
#main_emoji_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbf6e6;
    height: 50vh;

    #smile {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        #emoji_container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12.25rem;
            height: 12.25rem;


            button {
                position: relative;
                display: inline-block;
                cursor: pointer;
                outline: none;
                border: 0;
                vertical-align: middle;
            }

            button.face-button {
                width: 12.25rem;
                height: 12.25rem;
                border-radius: 50%;
                background: #fdda5f;
                box-shadow: inset 2px -4px 18px #fd9744;
            }

            .face-container {
                position: relative;
                display: block;
                width: 40px;
                height: 20px;
                margin: auto;
            }

            .eye {
                position: absolute;
                height: 0.9rem;
                width: 0.9rem;
                background: #2a2927;
                border-radius: 50%;
                -webkit-animation: eyeBlink 3200ms linear infinite;
                animation: eyeBlink 3200ms linear infinite;
            }

            .eye.left {
                left: -1rem;
            }

            .eye.right {
                left: 3rem;
            }

            .mouth {
                position: absolute;
                top: 2.225rem;
                left: 0.9rem;
                width: 1rem;
                height: 0.125rem;
                background: #2a2927;
                border-radius: 0;
            }

            .eye,
            .mouth {
                box-shadow: inset 2px 4px 8px #121110;
            }

            .face-button:hover .mouth,
            .face-button:active .mouth {
                left: 1rem;
                width: 0.9rem;
                height: 0.8rem;
                border-radius: 1rem 1rem 0.125rem 0.125rem;
            }

            .face-button:hover .eye,
            .face-button:active .eye {
                height: 0.475rem;
                width: 0.475rem;
                box-shadow: 0 0 0 0.25rem #fff;
            }

            @-webkit-keyframes eyeBlink {

                0%,
                30%,
                36%,
                100% {
                    transform: scale(1);
                }

                32%,
                34% {
                    transform: scale(1, 0);
                }
            }

            @keyframes eyeBlink {

                0%,
                30%,
                36%,
                100% {
                    transform: scale(1);
                }

                32%,
                34% {
                    transform: scale(1, 0);
                }
            }
        }
    }
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
    border-radius: 25px;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.button {
    background-color: #16D5FF;
    padding: 20px;
    border-radius: 20px;
    color: #111111;
    font-weight: bold;

    &:hover {
        color: #16D5FF;
        background-color: transparent;
        border: 1px solid #999999;
        padding: 19px;

        transition: all 0.3s ease-in-out;
    }
}

.bx {
    font-size: 20px;
}

/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}


/*** Header ***/
.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}


/*** Service ***/
.service-item {
    position: relative;
    overflow: hidden;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -80px;
    right: -80px;
    border: 80px solid;
    transform: rotate(45deg);
    opacity: 1;
    transition: .5s;
}

.service-item.bg-white::after {
    border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
    border-color: transparent transparent #FFFFFF transparent;
}

.service-item:hover::after {
    opacity: 0;
}


/*** Roadmap ***/
.roadmap-carousel {
    position: relative;
    display: flex;
}

.roadmap-carousel::before {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    top: 20px;
    left: 0;
    border-top: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item .roadmap-point {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 50%;
    margin-left: -15px;
    background: #FFFFFF;
    border: 2px solid var(--primary);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
    display: block;
    width: 18px;
    height: 18px;
    background: var(--primary);
}

.roadmap-carousel .roadmap-item {
    position: relative;
    padding: 150px 5px 0 5px;
    text-align: center;
}

.roadmap-carousel .roadmap-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 115px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-right: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 111px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
    background: var(--primary);
}

.roadmap-carousel .owl-nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: .5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

/* .footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
    margin-right: 10px;
} */

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.footer .btn.btn-square:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(17, 17, 17, .1);
}

.footer .copyright a {
    color: var(--primary);
}

.footer .copyright a:hover {
    color: var(--dark);
}

#hero_img {
    animation: 0.3s animi infinite ease-in-out;
}

@keyframes animi {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}



@media screen and (max-width:990px) {

    .roadmap-carousel {
        display: flex;
        flex-direction: column;
    }
}

/* t&c */
#myModal {
    background: #000000ad;

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #ffffff;
        margin: 10% auto;
        padding: 20px;
        width: 50%;
        border-radius: 8px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s;
    }

    .close:hover,
    .close:focus {
        color: #ff5b5b;
    }

    /* Modal Text */
    p {
        font-size: 18px;
    }

    /* styles.css */

    /* Reset default margin and padding */
    body,
    h1,
    p,
    ul,
    ol,
    li {
        margin: 0;
        padding: 0;
    }

    /* Set default font family and background color */
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    /* Container for the main content */
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Heading styles */
    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    /* Paragraph styles */
    p {
        color: #666;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    /* List styles */
    ol,
    ul {
        margin-left: 20px;
    }

    li {
        color: #333;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
}