main {
    grid-template-columns: 16rem auto;
}

section {
    height: 90vh;
}

.mainexchange {

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.button-wrap {
    display: flex;
    gap: 20px;
}

a.button {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: #fff;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2rem;
}

a.active {
    background-color: red;
}

.content {
    margin-top: 30px;
}

div[class*="content-"] {
    display: none;
}

div.active {
    display: block;
}

.content {
    width: 100%;
    background-color: var(--bg-color);
    height: 100%;
    padding: 20px;
    border-radius: 20px;

    .content-1 {
        height: 100%;
        text-align: center;

        .exchange {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            align-items: center;

        }

        h1 {
            font-weight: 600;
            font-size: 3.3rem;
        }

        select {
            border-radius: 10px;
            padding: 6px;
            font-size: 1.2rem;
        }

        button {
            padding: 5px 20px;
            border-radius: 20px;
            font-size: 2rem;
            border: none;
        }
    }
}